
@{
    ViewBag.Title = "ContactConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
       <h4><i>Your contact message has been sent!</i></h4>
        <br />
        <p> Thanks for taking the time to reach out. I'll get back to you as soon as possible.</p>
    </div>
</div>
