<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="username" value="dwsbugtrackerproject@gmail.com"/>
  <add key="password" value="ouvpkgimvgsrnbjk"/>
  <add key="emailfrom" value="dwsbugtrackerproject@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>
